<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen 2P</title>
</head>
<body>
    <br>
    <br>
    <h1>Florería</h1>
    <br>    
    <form action="/guardar" method="POST">
        <input type="text" name="txtNombre" placeholder="Nombre">
        <input type="text" name="txtCantidad" placeholder="Cantidad">
        <input type="number" name="txtPrecio" placeholder="Precio">        
        <button type="submit">Guardar</button>        
    </form>    
</body>
</html>