body{
  background-color: #1689d1;
}
.container {
    background-color: #e6f5f3;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  button#agregarMedico {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #667466;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    /*border-collapse: collapse;
    bor*/
    border: 1px solid black;
    margin-bottom: 10px;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  .botones {
    text-align: right;
  }
  
  button.editar, button.eliminar {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #668657;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button.editar:hover, button.eliminar:hover {
    background-color: #0056b3;
  }
  