{% extends 'plantilla.html' %}
{% block body %}

    <div class="mt-5 mb-5">
        <h1 class="display-1 text-center">Gestión de albums</h1>
    </div>
        <div class="flashed-messages">
            <!-- Código de Jinja, desde una lista mensajes -->
            {% with mensajes = get_flashed_messages() %}
            <!-- Boolean, solo queremos saber si hay mensajes -->
                {% if mensajes %}
                    {%for msj in mensajes%}
                    <!-- ECO, muy similar a como se usa blade -->
                        <h3>{{msj}}</h3>
                    {%endfor%}
                {% endif %}
            {% endwith %}
        </div>
   
    <div class="container text-center">        
        <div class="row">
            <div class="col-md-5">
                <div class="card card-body mb-5"> <!-- mb-5 "margin bottom de 5 espacios" -->
                    <h1>Albums record</h1>
                    <form action="/guardar" method="POST">

                        <div class="mb-3">
                            <input type="text" class="form-control" name="txtTitulo" placeholder=" Título del album" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="txtArtista" placeholder=" Escribe el artista" required>    
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control" name="txtAnio" placeholder=" Escribe el año" required>    
                        </div>

                
                        <!-- Para evitar que no tenga funcionalidad, agregamos el tipo de botón = submit -->
                        <button type="submit" class="btn btn-outline-info">Guardar</button>
                    </form>
                </div>
            </div>
            <div class="col-md-7">
                <h1>Albums guardados</h1>
                <table class="table table-warning">
                    <thead>
                        <tr> <!-- para filas -->
                            <td> Id: </td> <!-- para columnas -->
                            <td> Album: </td>
                            <td> Artista: </td>
                            <td> Año publicación: </td>
                            <td> Acciones: </td>
                        </tr>
                    </thead>
                    <tbody>
                        {%for album in albumesRecords%}
                            <tr>
                                <td>{{album.0}}</td>
                                <td>{{album.1}}</td>
                                <td>{{album.2}}</td>
                                <td>{{album.3}}</td>
                                <td>
                                
                                    <!--En lugar de "borrar", ponemos <i class="bi bi-trash3"></i> -->
                                    <a href=/editar/{{album.0}} class="btn btn-warning"> <i class="bi bi-pencil-square"></i> </a>
                                
                                <!-- <button class="Bottones button"> -->
                                    <a href=/delete/{{album.0}} class="btn btn-danger"> <i class="bi bi-trash3"></i> </a>
                                <!-- </button> -->
                                </td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>  <!--Éste cierra col-md-7-->
        </div>  <!--Éste cierra row-->
        <!-- ve a la ruta y ¿Por donde se va a enviar? por el método POST, se define -->
        </div>  <!--Éste cierra container-->
    {% endblock %}